footer {
  background-color: var(--menu_color);
  text-align: center;
  color: var(--left-side_color);
  font-size: 14px;
  font-weight: 400;
}

.footer {
  &_container {
    padding: 70px 50px;
  }

  &_top {
    padding-bottom: 70px;
    border-bottom: 1px solid var(--gray1);
  }

  &_bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &-column-heading {
    color: var(--left-side_color);
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &-columns {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  &-logo {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 100rem;
  }

  &-contact {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    p {
      padding: 10px;
    }
  }

  &-subscribe {
    display: flex;
    align-items: center;
    border-radius: 100rem;
    border: 2px solid var(--right-side_color);
    padding: 8px;
    margin: -20px;
    font: inherit;
    background-color: var(--left-side_color);
    justify-content: space-between;
  }

  &-subscribe-email {
    font-size: 16px;
    line-height: 1.5;
    color: var(--gray1);
    padding-inline: 15px;
    width: 100%;
  }

  &-subscribe-email::-webkit-input-placeholder {
    color: var(--gray1);
  }

  &-subscribe-email::-moz-input-placeholder {
    color: var(--gray1);
  }

  &-subscribe-button {
    width: 33px;
    height: 33px;
    border-radius: 100rem;
    background-color: var(--menu_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
  }

  &-link {
    display: block;
    color: var(--logo_color);
  }

  &_sl-items {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}
