#left_side {
  background-color: var(--left-side_color);
  flex: 30%;
  padding: 10px 20px;
}

#right_side {
  background-color: var(--right-side_color);
  flex: 70%;
}

#flex_container {
  display: flex;
  flex-wrap: nowrap;
}
