div(id="left_side")
  h2#Banggia Bảng giá 
  p Nhận Pre-Order theo yêu cầu
  p Menu Blooming with grace
  table(style="width: 100%")
    tr
      th Tên
      th Giá hoa lẻ
    tr
      td Lavender
      td 50,000đ
    tr
      td Tulip
      td 40,000đ
    tr
      td Calla lilly
      td 40,000đ
    tr
      td Heart
      td 40,000đ
    tr
      td Daisy
      td 50,000đ
    tr
      td Claveles
      td 50,000đ
    tr
      td Forgot me not
      td 60,000đ
    tr
      td Rose
      td 60,000đ
    tr
      td Lily of the valley
      td 60,000đ
    tr
      td Sunflower
      td 60,000đ
    tr
      td Lily
      td 70,000đ