div(id="right_side")
      h2(class="san_pham") Hoa len
      div(class="mau_san_pham")
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/0dbaab85a4d257d3004b3864c0245137.jpg", alt="this_is_image")
            span(class="best_seller") Best seller
          div(class="mau_len-content")
            h3(class="ten_mau") Mẫu 1
            div(class="mau_len-desc") Bó này rất đẹp
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,9 (29 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/7d2dc44fa2699c129082e1fc7e90b1c3.jpg", alt="this_is_image")
            span(class="best_seller") Best seller
          div(class="mau_len-content")
            h3(class="ten_mau") Mẫu 2
            div(class="mau_len-desc") Bó này cute
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,8 (20 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/4abefb97b63ed1f9a8c0f6de0dfb7032.jpg", alt="this_is_image")
            span(class="best_seller") Best seller
          div(class="mau_len-content")
            h3(class="ten_mau") Mẫu 3
            div(class="mau_len-desc") Bó này nhỏ xinh
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,8 (12 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/7d1449edc6f802c5bb18cba4532f6389.jpg", alt="this_is_image")
          div(class="mau_len-content")
            h3(class="ten_mau") Mẫu 4
            div(class="mau_len-desc") Hướng dương siêu xinh
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,7 (14 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/16f3bb5a65d7f67e4b3081736fb6e023.jpg", alt="this_is_image")
          div(class="mau_len-content")
            h3(class="ten_mau") Mẫu 5
            div(class="mau_len-desc") Bó Tulip rực rỡ
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,9 (10 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/104aa77ed706ecb40e7cc5f1fea998ba.jpg", alt="this_is_image")
          div(class="mau_len-content")
            h3(class="ten_mau") Mẫu 6
            div(class="mau_len-desc") Bó này siêu đỉnh
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,8 (12 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
      h2(class="san_pham") Phụ kiện len
      div(class="mau_san_pham")
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/phukien1.jpg", alt="this_is_image")
          div(class="mau_len-content")
            h3(class="ten_mau") Bọn con cute
            div(class="mau_len-desc") Mấy đứa này xinh ác
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,8 (12 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/phukien2.jpg", alt="this_is_image")
            span(class="best_seller") Best seller
            span(class="new_arrival") Mẫu mới
          div(class="mau_len-content")
            h3(class="ten_mau") Hai con hôn nhau
            div(class="mau_len-desc") Mấy nhóc này rất cute
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,8 (12 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
        div(class="mau_len")
          div(class="mau_len-top")
            img(class="mau_len-img", src="./sp/phukien3.jpg", alt="this_is_image")
            span(class="new_arrival") Mẫu mới
          div(class="mau_len-content")
            h3(class="ten_mau") Peter Trần
            div(class="mau_len-desc") Con này óc
            div(class="mau_len-rating_duration")
              div(class="mau_len-rating")
                div(class="mau_len-star")
                  img(src="png/star.jpg", alt="this_is_a_star")
                div(class="mau_len-review_count")
                  span 4,8 (12 reviews)
              div(class="mau_len-duration") (2-3 ngày)
            a(class="dat_hang-button", href="https://crochalala.com/", target="_blank", rel="noopener noreferrer") Đặt hàng
      br